.container{
	width: 70%;
	margin: auto;
	display: flex;
	height: 60vh;
	background-color: $red;
	padding: 1em;
	border-radius: 15px;
}

@media screen and (max-width: 576px){
	.container{
		width: 90%;
		display: grid;
		grid-template-rows: 1fr 3fr;
	}
}