.container {
	width: 60%;
	margin: auto;
	display: flex;
	background-color: $red;
	padding: 1em;
	border-radius: 15px;
}

.loading-bars {
	align-self: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
//tablet sized devices
@media screen and (max-width: 768px) and (min-width: 577px) {
	.container {
		width: 90%;
	}
}

@media screen and (max-width: 576px) {
	.container {
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 95%;
	}
}

.white-text {
	color: white;
	text-shadow: 5px 5px 10px #000;
}
