.pokemon-list-container {
	background: $light-gray;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
}
.pokemon-list {
	list-style-type: none;
}
li {
	text-transform: capitalize;
	min-width: 7vw;
}
li:hover {
	color: $green;
	cursor: pointer;
}
li:focus {
	background: red;
	outline: 0;
}

// ========= Srollbar Styles ================
/* Works on Firefox */

/* Works on Chrome, Edge, and Safari */
-webkit-scrollbar {
	width: 6vw;
}

-webkit-scrollbar-track {
	background: white;
}

-webkit-scrollbar-thumb {
	background-image: linear-gradient(180deg, red 50%, white 50%);
	border-radius: 50%;
	border: 2px solid black;
}

@media screen and(max-width: 576px) {
	.pokemon-list-container {
		height: 90%;
	}
}
@media screen and(min-width: 576px) {
	* {
		scrollbar-width: none;
		scrollbar-color: none;
	}

	/* Works on Chrome, Edge, and Safari */
	*::-webkit-scrollbar {
		width: 6vw;
	}

	*::-webkit-scrollbar-track {
		background: white;
	}

	*::-webkit-scrollbar-thumb {
		background-image: linear-gradient(180deg, red 50%, white 50%);
		border-radius: 50%;
		border: 2px solid black;
	}
}

//=============================================
