.pokemon-list-container {
	background: $light-gray;
	overflow-y: scroll;
	overflow-x: hidden;
	max-height: 80vh;
	min-width: 170px;
}
.pokemon-list {
	list-style-type: none;
	width: 100px;
	padding-left: 0pt;
}
li {
	text-transform: capitalize;
	min-width: 7vw;
	background-color: white;
	margin: 5px;
	border-radius: 10px;
	text-align: center;
	font-weight: 600;
	padding: 5px 30px 10px 5px;
	width: 90%;
}
li:hover {
	background-color: black;
	color: white;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}
li:focus {
	background: red;
	outline: 0;
}

// ========= Scorllbar Styles ================
/* Works on Firefox */

/* Works on Chrome, Edge, and Safari */
-webkit-scrollbar {
	width: 6vw;
}

-webkit-scrollbar-track {
	background: white;
}

-webkit-scrollbar-thumb {
	background-image: linear-gradient(180deg, red 50%, white 50%);
	border-radius: 50%;
	border: 2px solid black;
}

@media screen and(max-width: 576px) {
	.pokemon-list-container {
		height: 90%;
		min-height: 120px;
	}
}
@media screen and(min-width: 576px) {
	* {
		scrollbar-width: none;
		scrollbar-color: none;
	}

	/* Works on Chrome, Edge, and Safari */
	*::-webkit-scrollbar {
		width: 30px;
		height: 10px;
	}

	*::-webkit-scrollbar-track {
		background: white;
	}

	*::-webkit-scrollbar-thumb {
		background-image: linear-gradient(180deg, red 50%, white 50%);
		border-radius: 50%;
		border: 2px solid black;
	}
}

//=============================================
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}