.pokemon-list-container {
	background: $light-gray;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	min-width: 170px;
}
.pokemon-list {
	list-style-type: none;
	width: 100px;
	padding-left: 0pt;
}
li {
	text-transform: capitalize;
	min-width: 7vw;
	background-color: white;
	margin: 5px;
	border-radius: 10px;
	text-align: center;
	font-weight: 600;
	padding: 5px 30px 10px 5px;
}
li:hover {
	background-color: black;
	color: white;
	transition: .3s ease-in-out;
	cursor: pointer;
}
li:focus {
	background: red;
	outline: 0;
}

// ========= Srollbar Styles ================
/* Works on Firefox */

/* Works on Chrome, Edge, and Safari */
-webkit-scrollbar {
	width: 6vw;
}

-webkit-scrollbar-track {
	background: white;
}

-webkit-scrollbar-thumb {
	background-image: linear-gradient(180deg, red 50%, white 50%);
	border-radius: 50%;
	border: 2px solid black;
}

@media screen and(max-width: 576px) {
	.pokemon-list-container {
		height: 90%;
		min-height: 120px;
	}
}
@media screen and(min-width: 576px) {
	* {
		scrollbar-width: none;
		scrollbar-color: none;
	}

	/* Works on Chrome, Edge, and Safari */
	*::-webkit-scrollbar {
		width: 6vw;
	}

	*::-webkit-scrollbar-track {
		background: white;
	}

	*::-webkit-scrollbar-thumb {
		background-image: linear-gradient(180deg, red 50%, white 50%);
		border-radius: 50%;
		border: 2px solid black;
	}
}

//=============================================
