//Classes for the details container component
//=====================================================================================================x
.pokedex-details {
	flex-grow: 2;
	background-color: black;
	display: flex;
	flex-direction: column;
}

.row-one {
	display: flex;
	flex-direction: row;
}
.row-two {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

@media screen and (max-width: 576px) {
	.pokedex-details {
		grid-template-rows: 1fr 1fr;
	}

	.attribute-title {
		padding: 0em 0em !important;
	}
}

@media screen and (max-width: 1000px) and (min-width: 300px) {
	.attribute-title {
		padding: 0em 1em !important;
	}
}

//Classes for the Pokemon Frame Component
//====================================================================================================
.pokemon-name {
	color: black;
	text-transform: capitalize;
	background-color: $purple;
	text-align: justify;
}

.pokemon-image {
	width: 100%;
	display: flex;
	justify-content: center;
	border-bottom: 5px solid $purple;
	border-left: 5px solid $purple;
}

.pokemon-frame {
	display: flex;
	//grid-template-rows: 1fr 2fr;
	flex-direction: column;
	background: repeating-linear-gradient(
		0deg,
		$light-purple,
		$light-purple 5px,
		white 7px,
		white 10px
	);
	//min-height: 25vh;
}

// Classes for Pokemon Attributes Component
//====================================================================================================
.pokemon-attributes {
	flex-grow: 2;
	background-color: $light-orange;
}

.attribute-title {
	margin-top: 0.5em;
	font-weight: 600;
	border-radius: 5px;
}

.pokemon-types {
	text-transform: capitalize;
	display: flex;
	justify-content: space-evenly;
	margin: 0.5em;
	div {
		padding: 0em 2em;
		border-radius: 5px;
		color: white;
		text-shadow: 1px 1px #000;
	}
}

@media screen and (max-width: 576px) {
	.pokemon-types {
		flex-direction: column;
	}
	.pokemon-w-t {
		flex-direction: column;
	}
}

.pokemon-w-t {
	display: flex;
	justify-content: space-evenly;
	span {
		background-color: white;
		padding: 0em 1.5em;
		border-radius: 5px;
	}
}

.pokedex-entry {
	display: flex;
	justify-content: space-evenly;
	span {
		margin-top: 0.5em;
		background-color: white;
		padding: 0em 3em;
		border-radius: 5px;
	}
}

.pokemon-abilities {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	flex-direction: row;
	span {
		justify-self: center;
		align-self: center;
	}
	.pokemon-ability {
		margin-top: 0.3em;
		background-color: white;
		padding: 0em 2em;
		border-radius: 5px;
	}
}

.water {
	background-color: $water-type;
}
.normal {
	background-color: $normal-type;
}
.fire {
	background-color: $fire-type;
}
.electric {
	background-color: $electric-type;
}
.grass {
	background-color: $grass-type;
}
.ice {
	background-color: $ice-type;
}
.fighting {
	background-color: $fighting-type;
}
.poison {
	background-color: $poison-type;
}
.ground {
	background-color: $ground-type;
}
.flying {
	background-color: $flying-type;
}
.psychic {
	background-color: $psychic-type;
}
.bug {
	background-color: $bug-type;
}
.rock {
	background-color: $rock-type;
}
.ghost {
	background-color: $ghost-type;
}
.dragon {
	background-color: $dragon-type;
}
.dark {
	background-color: $dark-type;
}
.steel {
	background-color: $steel-type;
}
.fairy {
	background-color: $fairy-type;
}

// Classes for Text Container Component
//====================================================================================================
.text-container {
	flex-grow: 1;
	background-color: #aaa;
}
// Classes for Pokemon Stats Component
///====================================================================================================
.pokemon-stats {
	display: flex;
	flex-direction: column;
}

.stats {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	align-content: center;
	text-transform: capitalize;
	font-weight: 700;
	color: #333;
	text-shadow: 1px 1px #fff;
}

.hp {
	background-color: $color-hp;
}
.attack {
	background-color: $color-attack;
}
.defense {
	background-color: $color-defense;
}
.special-attack {
	background-color: $color-sp-attack;
}
.special-defense {
	background-color: $color-sp-defense;
}
.speed {
	background-color: $color-speed;
}

// Classes for Pokemon Stats Component
///====================================================================================================
.pokemon-chain {
	display: flex;
	justify-content: space-evenly;
	text-transform: capitalize;
	font-weight: 600;
	span img {
		width: 100%;
		background-color: white;
		border-radius: 50%;
	}
}

.pokemon-sprite:hover {
	cursor: pointer;
	transform: scale(1.05);
	transition: 0.2s ease-in;
}

.sprite-name {
	display: flex;
	justify-content: center;
}

.flavor-text {
	display: inline-block;
	background-color: white;
	border-radius: 5px;
}

.text-center {
	text-align: center;
}

h3 {
	text-align: center;
}

// Classes for Screen Component
//=========================================================================================================

.screen {
	display: flex;
	flex-direction: row;
	background-color: #000;
	//padding: 30px 70px 10px 70px;
	//margin-left: auto;
	//margin-right: auto;
	justify-content: center;
	padding-top: 30px;
}

@media screen and (max-width: 576px) {
	.screen {
		flex-direction: column !important;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2em;
	}
}
