$green: #23a00a;

$light-gray: #aaaaaa;

$red: #E3350E;

$purple: #caaaf1;

$light-purple: #ECEAEC;

$color-hp: #FF5959;

$color-attack: #F5AC78;

$color-defense: #FAE078;

$color-sp-attack: #9DB7F5;

$color-sp-defense: #A7DB8C;

$color-speed: #FA92B2;