$green: #23a00a;

$light-gray: #aaaaaa;

$red: #E3350E;

$purple: #caaaf1;

$light-purple: #ECEAEC;
////////////////////////////
//Colors for stats

$color-hp: #FF5959;

$color-attack: #F5AC78;

$color-defense: #FAE078;

$color-sp-attack: #9DB7F5;

$color-sp-defense: #A7DB8C;

$color-speed: #FA92B2;
///////////////////////////////
// type colors
$normal-type:#B7B7A8;

$fire-type: #F65F47;

$water-type: #3299FF;

$electric-type: #FFD456;

$grass-type:#8CD470;

$ice-type:#7ED4FF;

$fighting-type:#C56F61;

$poison-type:#B770A9;

$ground-type:#E2C670;

$flying-type:#9AA9FF;

$psychic-type:#FF6FA9;

$bug-type:#B7C54A;

$rock-type: #A5996C;

$ghost-type: #7D7EC6;

$dragon-type: #8D7FF1;

$dark-type: #8A6E60;

$steel-type: #B5B6C4;

$fairy-type:#F1A9F0;