$green: #23a00a;

$light-gray: #aaaaaa;

$red: #e3350e;

$purple: #caaaf1;

$light-purple: #eceaec;

$light-orange: #ffd4ae;

$gray: #828b9b;

//=====================================================================
//Colors for stats

$color-hp: #ff5959;

$color-attack: #f5ac78;

$color-defense: #fae078;

$color-sp-attack: #9db7f5;

$color-sp-defense: #a7db8c;

$color-speed: #fa92b2;

//=====================================================================
// type colors

$normal-type: #b7b7a8;

$fire-type: #f65f47;

$water-type: #3299ff;

$electric-type: #ffd456;

$grass-type: #8cd470;

$ice-type: #7ed4ff;

$fighting-type: #c56f61;

$poison-type: #b770a9;

$ground-type: #e2c670;

$flying-type: #9aa9ff;

$psychic-type: #ff6fa9;

$bug-type: #b7c54a;

$rock-type: #a5996c;

$ghost-type: #7d7ec6;

$dragon-type: #8d7ff1;

$dark-type: #8a6e60;

$steel-type: #b5b6c4;

$fairy-type: #f1a9f0;
